/*grids*/
.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    margin: 0;
    position: relative;
}
header {
    grid-row: 1/2;
    grid-column: 1;
}
main {
    grid-row: 2/3;
    grid-column: 1;
}
footer {
    grid-row: 3/4;
    grid-column: 1;
}

/*header*/

header {
    background-color:#FFE5EC;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: xx-large;
    color: #540826;
    margin: 0px;
}
#logo {
    background-image: url(Images/cupcake_logo_pink_mini.png);
    background-repeat: no-repeat;
    background-size: auto;
}

/*body*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*texts*/
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #540826;
    text-align: center;
}
a:hover {
    color: #1E2367;
}
h3 {
    text-align: center;
    text-shadow: 2px 1px #540826;
}

/*navigation*/

nav {
    display: flex; 
    align-items: stretch;
    background-color: #F4A2B5;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-style: none;
    justify-content: center;
}
nav ul {
    display: flex;
    background-color: #F4A2B5;
    list-style-type: none;
    margin: 0;
    align-items: stretch;
    flex: auto;
    justify-content: center;
}
nav ul li a {
    display: block;
    padding: 1em;
    margin: 0;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#home, #about, #contact {
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    color: #540826;
    padding: 1em;
}
#products {
    padding: 1em;
}
.dropdown {
    font-size: large;
    font-weight: bold;
    color: #540826;
}
.dropdown:hover {
    color: #1E2367;
}
.collapse {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
button {
    border-style: none;
    background-color: #F4A2B5; 
    font-size: large;
    font-weight: bold;
}
.selections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
h4 {
    display: none;
}
#cookies {
    background-image: url(Images/cookies.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;


}
#cookies:hover {
    transform: scale(1.05);
    font-size: larger;
}
#cupcakes {
    background-image: url(Images/cupcakes.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;
    color: white;
}
#cupcakes:hover {
    transform: scale(1.05);
    font-size: larger;
}
#donuts {
    background-image: url(Images/donuts.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;
    color: white;
}
#donuts:hover {
    transform: scale(1.05);
    font-size: larger;
}
#muffins {
    background-image: url(Images/muffins.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;
    color: white;
}
#muffins:hover {
    transform: scale(1.05);
    font-size: larger;
}
.link {
    text-decoration: underline;
}

/*main*/

main {
    background-color:#FFE5EC;
}
.hero-text {
    color: white;
    text-align: center;
    justify-content: center;
    }
#hero-text {
    color: #000000;
    text-align: center;
    justify-content: center;
}
#text {
    text-align: center;
}
#about-us, #news {
    text-align: center;
    margin: 5em;
}

/*images*/
.hero-image {
    background-image: url(Images/baked_goods.jpg);
    background-size: cover;
    background-position: right;
    margin: 0;
    padding: 0;
    min-height: fit-content;
    }
#hero-image {
    background-image: url(Images/easter-7109439_1920.jpg);
    background-size: cover;
    background-position: right;
    margin: 0;
    padding: 0;
    min-height: fit-content;
}
#hero-image:hover {
    background-image: url(Images/star-of-david-5980481_1920.jpg);
    background-size: cover;
    background-position: right;
    margin: 0;
    padding: 0;
    min-height: fit-content;
}
img.wrap {
    float: left;
    width:250px;
    height: 175px;
    margin: 0;
    padding: 0;
}
img.thumbnail {
    width: 200px;
    height: 150px;
}

/*product gallery*/
#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
img {
    width: 400px;
    height: 300px;
    margin: 0;
    padding: 0;
}
img:hover {
    transform: scale(1.05);
}
.description{
    text-align: center;
}
.price {
    text-align: center;
}

/*form*/
#submission {
    text-align: center;
}
#form {
    display: flex;
    text-align: center;
    justify-content: center;
    min-width: fit-content;
    background-color: whitesmoke;
    margin: 1em;
    margin-left: 20em;
    margin-right: 20em;
    border-style: outset;
}
#form-name {
    min-width: 300px;
}
#form_name {
    min-width: 300px;
}
#form-address {
    min-width: 300px;
}
#form-telephone {
    min-width: 300px;
}
#form-email {
    min-width: 300px;
}
textarea{
    min-width: 300px;
    min-height: 100px;
}

/*footer*/
#footer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    border-top: 1px solid;
    background-color: white;
    font-size: small;
    margin: 0;
    padding: 0;
    }
.hours, .contact, .disclaimer {
    display: flex;
    flex-direction: column;
    flex: auto;
    text-align: center;
    }

/*media queries*/
@media screen and (min-width:350px){
    #form {
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    p {
        font-size: large;
    }
    footer {
        font-size: medium;
    }
    #about-us, #news {
        margin: 0;
    }
    #items {
        align-items:flex-start;
    }
    nav, nav ul {
        flex-wrap: wrap;
    }
}
@media screen and (min-width:650px) {
    #form {
        margin-left: 20em;
        margin-right: 20em;
    }
    p {
        font-size: medium;
    }
    #about-us, #news {
        margin: 5em;
    }
    #items {
        align-items: center;
    }
    nav, nav ul {
        flex-wrap: nowrap;
    }
}
@media screen and (min-width:800px){
    #form {
        margin-left: 30em;
        margin-right: 30em;
    }
    footer {
        font-size: small;
    }
}
